* {
    padding : 0;
    margin : 0;
}

.oof { 
  color: red;
  text-align: center;
  font-family: courier; 
  text-transform: capitalize;
}												

.class2 { 
  color: red;
  font-family: courier; 
  text-transform: capitalize;
}

.Informations {
				font-family: arial;
				color: orange;
				text-transform: capitalize;
				border-color: tomato;
				border-style: solid;
				border-length: 30px;
				border-top-left-radius: 15px;
				border-bottom-right-radius: 15px;
				padding: 10px;
				margin-left: 10px;
				margin-right: 200px;
}

.help {
				font-family: arial;
				color: orange;
				text-transform: capitalize;
				border-color: tomato;
				border-style: solid;
				border-length: 30px;
				border-top-left-radius: 15px;
				border-bottom-right-radius: 15px;
				padding: 10px;
				margin-left: 10px;
				margin-right: 160px;
}

.createur {
				font-family: arial;
				color: orange;
				text-transform: capitalize;
				border-color: tomato;
				border-style: solid;
				border-length: 30px;
				border-top-left-radius: 15px;
				border-bottom-right-radius: 15px;
				padding: 10px;
				margin-left: 10px;
				margin-right: 200px;
}

.mail {
				font-family: arial;
				color: orange;
				text-transform: capitalize;
				border-color: tomato;
				border-style: solid;
				border-length: 30px;
				border-top-left-radius: 15px;
				border-bottom-right-radius: 15px;
				padding: 10px;
				margin-left: 10px;
				margin-right: 200px;
}
